<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="zip2address_config_provider" xsi:type="object">Veriteworks\Zip2address\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_rule" type="Veriteworks\Zip2address\Plugin\Checkout\Block\Checkout\LayoutProcessor" sortOrder="110"/>
    </type>

    <type name="Magento\Directory\Model\Country\Postcode\Config\Reader">
        <arguments>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/zip/codes/code" xsi:type="string">id</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\ZipCodeConverter\Model\Config\ConverterConfig">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\ZipCodeConverter\Model\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">zip_code_converter_config</argument>
        </arguments>
    </type>

    <virtualType name="Magento\ZipCodeConverter\Model\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\ZipCodeConverter\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\ZipCodeConverter\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">zipconverter.xml</argument>
        </arguments>
    </virtualType>

    <type name="Magento\ZipCodeConverter\Block\Widget">
        <arguments>
            <argument name="services" xsi:type="array">
                <item name="googleapi" xsi:type="object">Magento\ZipCodeConverter\Model\Service\Google</item>
                <item name="madefor" xsi:type="object">Magento\ZipCodeConverter\Model\Service\MadeFor</item>
            </argument>
        </arguments>
    </type>
</config>